@import "tailwindcss";

:root {
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --bg-app: #0f0f0f;
  --bg-panel: #1a1a1a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-app);
  color: white;
}

#app {
  min-height: 100vh;
}